.dashboard_container {
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: row;
}
.sidebar {
  height: auto;
  width: 20%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
}
.item {
  height: 3rem;
  padding: 1rem;
  background-color: brown;
  border-radius: 40% 0%;
}
.tool_page {
  height: auto;
  width: 80%;
  /* background-color: rebeccapurple; */
}
